{% extends 'blog/base.html' %}

{% block blog_container %}
    <form action="{% url 'blog:add' %}"  method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlInput1" >Enter Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Post Title" name="title">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1" >Enter Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" name="content">

            </textarea>
        </div>
        <input type="text" value="{{ request.get_full_path }}" style="display: none" name="url">
        <button type="submit" class="btn btn-success">Create</button>

    </form>
{% endblock %}